# Model and Conclusion
# Setup

In [1]:
# dependencies
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 

import seaborn as sns

import missingno as msno

# Get data

In [2]:
df = pd.read_csv('data/clean_table.csv')

# Data Exploration
## Standard analysis

In [3]:
df.shape

(3386, 8)

In [4]:
df.dtypes

Unnamed: 0              int64
activity               object
category               object
start_date[ms]          int64
start_date             object
end_date[ms]            int64
end_date               object
activityDuration[m]     int64
dtype: object

In [5]:
df.head(5)

,Unnamed: 0,activity,category,start_date[ms],start_date,end_date[ms],end_date,activityDuration[m]
0,0,Trello,Personal Adjusting,1540159273005,Mon Oct 22 00:01:13 GMT+02:00 2018,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,9
1,1,Series / Docu,Entertainment,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,49
2,2,Sleep,Refresh,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,443
3,3,Moving - youtube,Transport,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,8
4,4,Trello,Personal Adjusting,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,1540190444165,Mon Oct 22 08:40:44 GMT+02:00 2018,8

# Is the data good enough for the model?

Conclusion: A recommender system needs a table with an ID, an activity ID and optionally ratings. 

- We have a table with IDs
- We have a table with Activity IDs 
- We have no ratings.

# Split dataset

# Build model pipeline

# Declare hyperparameter

# Fit and tune with cross-validation

# Evaluate Model

# Select winner model

# Save winning model

# Communicate Results (Conclusion)