# Model creation, Model evaluation and communication
# Setup

In [2]:
# dependencies
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 

import seaborn as sns

import missingno as msno

# Get data

In [3]:
df = pd.read_csv('data/base_table.csv')

# Data Exploration
## Standard analysis

In [3]:
df.shape

(3386, 8)

In [4]:
df.dtypes

activityName              object
activityCategoryName      object
activityStartDate [ms]     int64
activityStartDate         object
activityEndDate [ms]       int64
activityEndDate           object
activityDuration [ms]      int64
activityDuration          object
dtype: object

In [5]:
df.head(5)

,activityName,activityCategoryName,activityStartDate [ms],activityStartDate,activityEndDate [ms],activityEndDate,activityDuration [ms],activityDuration
0,Trello,Personal Adjusting,1540159273005,Mon Oct 22 00:01:13 GMT+02:00 2018,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,596554,9 min
1,Series / Docu,Entertainment,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,2950509,49 min
2,Sleep,Refresh,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,26637950,7 h 23 min
3,Moving - youtube,Transport,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,491019,8 min
4,Trello,Personal Adjusting,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,1540190444165,Mon Oct 22 08:40:44 GMT+02:00 2018,495128,8 min

# Model

# Model Evaluation

# Communicate Results (Conclusion)