# Base table creation 
## Prerequesites
This is the second approach based on the fundings of our fellow machine learner.   

We need a clustering in time slots to predict based on that. This is due the fact that activity prediction does not work based on activity. We need another feature called time slot.

So further inspection is needed and forming of new feature (time_slot). 

# Setup

In [1]:
# dependencies
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 

import seaborn as sns

import missingno as msno

# Get data

In [2]:
df = pd.read_csv('data/clean_table.csv')

# Data Exploration
## Standard analysis

In [3]:
df.shape

(3386, 7)

In [4]:
df.dtypes

activity               object
category               object
start_date[ms]          int64
start_date             object
end_date[ms]            int64
end_date               object
activityDuration[m]     int64
dtype: object

In [5]:
df.head(5)

,activity,category,start_date[ms],start_date,end_date[ms],end_date,activityDuration[m]
0,Trello,Personal Adjusting,1540159273005,Mon Oct 22 00:01:13 GMT+02:00 2018,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,9
1,Series / Docu,Entertainment,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,49
2,Sleep,Refresh,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,443
3,Moving - youtube,Transport,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,8
4,Trello,Personal Adjusting,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,1540190444165,Mon Oct 22 08:40:44 GMT+02:00 2018,8

# Base table creation

In [6]:
base_table = df

## Feature engineering TODO What do we need here
Let's take only relevant features into our base table:

1. activity,
- category,
- start_date_timestamp,
- start_date,
- end_date_timestamp,
- end_date,
- activity_duration[m] # minutes

# Conclusions TODO

In [7]:
base_table.head()

,activity,category,start_date[ms],start_date,end_date[ms],end_date,activityDuration[m]
0,Trello,Personal Adjusting,1540159273005,Mon Oct 22 00:01:13 GMT+02:00 2018,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,9
1,Series / Docu,Entertainment,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,49
2,Sleep,Refresh,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,443
3,Moving - youtube,Transport,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,8
4,Trello,Personal Adjusting,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,1540190444165,Mon Oct 22 08:40:44 GMT+02:00 2018,8

# Add index

In [8]:
idx = list([x+1 for x in range(len(df))])
base_table['id'] = idx
base_table.set_index = 'id'

# Add user_id

In [15]:
user_id = list([x % 333 for x in range(len(base_table))])
base_table['user_id'] = user_id

# Save clean table

In [16]:
base_table.to_csv('data/base_table_time_slots.csv', index='id')

In [17]:
base_table.head()

,activity,category,start_date[ms],start_date,end_date[ms],end_date,activityDuration[m],id,user_id
0,Trello,Personal Adjusting,1540159273005,Mon Oct 22 00:01:13 GMT+02:00 2018,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,9,1,0
1,Series / Docu,Entertainment,1540159869559,Mon Oct 22 00:11:09 GMT+02:00 2018,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,49,2,1
2,Sleep,Refresh,1540162820068,Mon Oct 22 01:00:20 GMT+02:00 2018,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,443,3,2
3,Moving - youtube,Transport,1540189458018,Mon Oct 22 08:24:18 GMT+02:00 2018,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,8,4,3
4,Trello,Personal Adjusting,1540189949037,Mon Oct 22 08:32:29 GMT+02:00 2018,1540190444165,Mon Oct 22 08:40:44 GMT+02:00 2018,8,5,4