# Model and Conclusion

# Setup

In [1]:
# dependencies
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 

import seaborn as sns

import missingno as msno

In [2]:
import turicreate as tc

# Get data

In [3]:
# Panda - stored in memory (limited)
# df = pd.read_csv('data/clean_table.csv')

In [4]:
# SFrame - better when you have to scale up
df = tc.SFrame.read_csv('./data/base_table_time_slots.csv')

Finished parsing file /Users/deniel.horvatic/repository/machine-learning-masterclass/project_10_activity_analysis/data/base_table_time_slots.csv

Parsing completed. Parsed 100 lines in 0.039032 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,int,str,int,str,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/deniel.horvatic/repository/machine-learning-masterclass/project_10_activity_analysis/data/base_table_time_slots.csv

Parsing completed. Parsed 3386 lines in 0.009189 secs.

# Data Exploration
## Standard analysis

In [5]:
df.shape

(3386, 10)

In [6]:
# panda only
# df.dtypes

In [7]:
df.head(5)

Columns:
	X1	int
	activity	str
	category	str
	start_date[ms]	int
	start_date	str
	end_date[ms]	int
	end_date	str
	activityDuration[m]	int
	id	int
	user_id	int

Rows: 5

Data:
+----+------------------+--------------------+----------------+
| X1 |     activity     |      category      | start_date[ms] |
+----+------------------+--------------------+----------------+
| 0  |      Trello      | Personal Adjusting | 1540159273005  |
| 1  |  Series / Docu   |   Entertainment    | 1540159869559  |
| 2  |      Sleep       |      Refresh       | 1540162820068  |
| 3  | Moving - youtube |     Transport      | 1540189458018  |
| 4  |      Trello      | Personal Adjusting | 1540189949037  |
+----+------------------+--------------------+----------------+
+-------------------------------+---------------+-------------------------------+
|           start_date          |  end_date[ms] |            end_date           |
+-------------------------------+---------------+-------------------------------+
| Mon Oct 22 00:01:13 GMT+02... | 1540159869559 | Mon Oct 22 00:11:09 GMT+02... |
| Mon Oct 22 00:11:09 GMT+02... | 1540162820068 | Mon Oct 22 01:00:20 GMT+02... |
| Mon Oct 22 01:00:20 GMT+02... | 1540189458018 | Mon Oct 22 08:24:18 GMT+02... |
| Mon Oct 22 08:24:18 GMT+02... | 1540189949037 | Mon Oct 22 08:32:29 GMT+02... |
| Mon Oct 22 08:32:29 GMT+02... | 1540190444165 | Mon Oct 22 08:40:44 GMT+02... |
+-------------------------------+---------------+-------------------------------+
+---------------------+----+---------+
| activityDuration[m] | id | user_id |
+---------------------+----+---------+
|          9          | 1  |    0    |
|          49         | 2  |    1    |
|         443         | 3  |    2    |
|          8          | 4  |    3    |
|          8          | 5  |    4    |
+---------------------+----+---------+
[5 rows x 10 columns]

# Is the data good enough for the model?

Conclusion: A recommender system needs a table with an ID, an activity ID and optionally ratings. 

- We have a table with IDs
- We have a table with Activity IDs 
- We have no ratings. 

Based on no ratings we will find patterns in similarity of activities.

# Split dataset

In [8]:
#train, test = tc.recommender.util.random_split_by_user(df, 'category', 'activity')

# Build model pipeline

In [9]:
model = tc.recommender.create(df, 'user_id','activity', ranking=False)

Warning: Ignoring columns X1, category, start_date[ms], start_date, end_date[ms], end_date, activityDuration[m], id;

    To use one of these as a target column, set target = <column_name>

    and use a method that allows the use of a target.

Preparing data set.

    Data has 3386 observations with 333 users and 90 items.

    Data prepared in: 0.012918s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 4.912ms                        | 100        |

+--------------------------------+------------+

# Declare hyperparameter

# Fit and tune with cross-validation

# Evaluate Model

In [14]:
results = model.recommend(exclude_known=False)
results

Columns:
	user_id	int
	activity	str
	score	float
	rank	int

Rows: 3330

Data:
+---------+-----------------------+---------------------+------+
| user_id |        activity       |        score        | rank |
+---------+-----------------------+---------------------+------+
|    0    |         Clean         | 0.15479297041893006 |  1   |
|    0    |         Sleep         | 0.14209577441215515 |  2   |
|    0    |     Social - girl     | 0.13072871565818786 |  3   |
|    0    |          Food         |  0.1295599102973938 |  4   |
|    0    |    Moving - social    |  0.1286361813545227 |  5   |
|    0    |     Series / Docu     | 0.11950594186782837 |  6   |
|    0    |     Food - Prepare    | 0.11852809190750122 |  7   |
|    0    | Learning - university | 0.11744009256362915 |  8   |
|    0    |   Social - Real Life  |  0.1160344123840332 |  9   |
|    0    |           WC          | 0.11512486338615417 |  10  |
+---------+-----------------------+---------------------+------+
[3330 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [19]:
results = model.recommend(users=[3],exclude_known=False, )
results

Columns:
	user_id	int
	activity	str
	score	float
	rank	int

Rows: 10

Data:
+---------+-----------------------+---------------------+------+
| user_id |        activity       |        score        | rank |
+---------+-----------------------+---------------------+------+
|    3    |         Sleep         | 0.15962545438246292 |  1   |
|    3    |         Clean         | 0.15270951661196622 |  2   |
|    3    |          Food         |  0.1435760042884133 |  3   |
|    3    |     Food - Prepare    | 0.13145921447060324 |  4   |
|    3    |    Moving - social    | 0.12862735986709595 |  5   |
|    3    |     Social - girl     | 0.12708307938142258 |  6   |
|    3    |           WC          |  0.1195696700703014 |  7   |
|    3    |       Analyzing       | 0.11725055087696422 |  8   |
|    3    |   Social - Real Life  |  0.1167457483031533 |  9   |
|    3    | Learning - university | 0.11613780801946466 |  10  |
+---------+-----------------------+---------------------+------+
[10 rows x 4 columns]

In [11]:
n_rows = 10
activities = ['Sleep']
similar_items = model.get_similar_items(activities, k=n_rows)
similar_items.print_rows(n_rows)

+----------+--------------------+---------------------+------+
| activity |      similar       |        score        | rank |
+----------+--------------------+---------------------+------+
|  Sleep   |        Food        |  0.3153526782989502 |  1   |
|  Sleep   |       Clean        | 0.21962618827819824 |  2   |
|  Sleep   |   Social - girl    | 0.20202022790908813 |  3   |
|  Sleep   |  Moving - social   | 0.19895285367965698 |  4   |
|  Sleep   |   Series / Docu    | 0.18435752391815186 |  5   |
|  Sleep   |         WC         | 0.18435752391815186 |  6   |
|  Sleep   | Social - Real Life |  0.1666666865348816 |  7   |
|  Sleep   |   Food - Prepare   |  0.1666666865348816 |  8   |
|  Sleep   |    Food - shit     | 0.16463416814804077 |  9   |
|  Sleep   |   Work - Purpose   | 0.15882354974746704 |  10  |
+----------+--------------------+---------------------+------+
[10 rows x 4 columns]

# Select winner model

# Save winning model

In [12]:
model.save("time_slot_recommendation.model")

# Load winning model

In [13]:
model = tc.load_model("time_slot_recommendation.model")

# Communicate Results (Conclusion)

TODO